[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
